::ng-deep .p-tabmenuitem .p-menuitem-link {
    padding: 0 !important;
}

.p-button {
    padding: 0 !important;
    height: auto !important;
}

.p-ai-tab {
    height: 41px;
    justify-content: center;
    min-width: 120px;
    display: flex;
    align-items: center;
}
